@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.home-hero-container {
  position: relative; 
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr; 
  gap: 10px;
  align-items: center;
  padding: 0px 20px 40px 20px;
  height: auto;
}

@media only screen and (min-width: 480px) {
  .home-hero-container {
    padding: 40px 20px 80px 20px; 
  }
}

@media only screen and (min-width: 768px) {
  .home-hero-container {
    max-width: 1440px;
    gap: 20px;
  }
}

.home-hero-intro-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .home-hero-intro-container {
    grid-template-columns: 65% 35%;
    grid-template-areas: 
      "intro img";
    font-size: 18px;
    gap: 0;
    padding: 0px 100px 0 180px;
  }
}

.home-hero-intro-text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (min-width: 768px) {
  .home-hero-intro-text-container {
    grid-area: intro;
    margin-top: 150px;
    width: 80%;
  }
}

.home-hero-intro-name {
  color: var(--highlight-blue);
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Rock Salt';
}

@media only screen and (min-width: 768px) {
  .home-hero-intro-name {
    font-size: 2rem;
  }
}

.home-hero-intro-title {
  font-weight: bold;
}

.home-hero-img-container {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 480px) {
  .home-hero-img-container {
    grid-area: img;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--light-blue);
    border-radius: 8px;
  }
}

.home-hero-img {
  display: block;
  width: 100%;
  transition: transform 0.3s ease;
}

@media only screen and (min-width: 480px) {
  .home-hero-img {
    width: auto;
    height: 100%;
    border-radius: 8px;
  }
}

button {
  padding: 10px 10px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
}

.cta {
  width: 40%;
  background-color:  var(--primary-orange);
  color: var(--white);
  margin-top: 10x;
  font-size: 1.1rem;
  font-weight: bold;
}

@media only screen and (min-width: 480px) {
  .cta {
    width: 30%;
  }
}

.cta:hover {
  border: 2px solid var(--primary-orange);
  background-color:   var(--white);
  color: var(--primary-orange);
}
