@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.home-hero-container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 10px;
  align-items: center;
  padding: 0px 20px 40px 20px;
  height: auto;
}

@media only screen and (min-width: 480px) {
  .home-hero-container {
    padding: 0 20px 80px 20px; 
  }
}

@media only screen and (min-width: 768px) {
  .home-hero-container {
    max-width: 1440px;
    /* height: 500px; */
    gap: 20px;
  }
}

.home-hero-intro-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

@media only screen and (min-width: 768px) {
  .home-hero-intro-container {
    grid-template-columns: 65% 35%;
    grid-template-areas: 
      "intro img";
    font-size: 18px;
    gap: 0;
    padding: 0px 100px 0 180px;
  }
}

.home-hero-intro-text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (min-width: 768px) {
  .home-hero-intro-text-container {
    grid-area: intro;
    margin-top: 150px;
    width: 80%;
  }
}

.home-hero-intro-container span {
  color: var(--highlight-blue);
  font-size: 1.8rem;
  font-weight: bold;
  font-family: 'Rock Salt';
}

@media only screen and (min-width: 768px) {
  .home-hero-intro-container span {
    font-size: 2rem;
  }
}

.home-hero-img-container {
  display: block;
  width: 100%;
}

.home-hero-img {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 480px) {
  .home-hero-img-container {
    grid-area: img;
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (min-width: 480px) {
  .home-hero-img {
    width: auto;
    height: 100%;
  }
}

.home-hero-social-media-icon-container {
  display: flex;
  gap: 10px;
}

@media only screen and (min-width: 480px) {
  .home-hero-social-media-icon-container {
    justify-content: center;
    align-items: center;
  }
}


