.home-javascript-showcase-container {
    padding: 20px;
    color: var(--dark-grey);
    background-color: var(--light-blue);
}

.home-javascript-showcase-container  h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.javascript-project-cards {
    grid-area: project;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}

@media only screen and (min-width: 768px) {
    .home-javascript-showcase-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            ". title title ."
            "project project project project";
        gap: 20px;
        padding: 40px 180px 80px 180px;
    }
    
    .home-javascript-showcase-container  h2 {
        margin-bottom: 20px;
    }
    
    .javascript-project-cards {
        grid-area: project;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
}