.javascript-project-card-container  {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
    border-radius: 8px;
    background-color: var(--white); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    line-height: 1.6rem;
}

.javascript-project-card-container img {
    width: 20%;
    border-radius: 8px;
}

.javascript-project-card-container h3 {
    color: var(--primary-orange);
}

.javascript-project-card-container-links {
    display: flex;
    gap: 10px;
    width: 70%;
}

.github-link {
    background-color: var(--grey);
    color: var(--white);
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: bold;
}

.github-link:hover {
    background-color: var(--white);
    color: var(--grey);
    border: 2px solid var(--grey);
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: bold;
}

.site-link {
    background-color: var(--highlight-blue);
    color: var(--white);
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: bold;
}

.site-link:hover {
    background-color: var(--white);
    color: var(--highlight-blue);
    border: 2px solid var(--highlight-blue);
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: bold;
}