.portfolio-img-desktop,  .portfolio-mobile-img-mobile {
    box-shadow: 5px 5px 5px 2px #d2cdcd80;
}

.portfolio-subtitle {
    font-size: 1.5rem;
}

.portfolio-wrapper, .portfolio-wrapper-b {
    width: 90%;
    font-family: var(--font-family-text);
    background-color: var(--dark-off-white);
    font-weight: 300;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
    margin: 40px auto;
}

.portfolio-role, .portfolio-tech-stack,
.portfolio-text {
  font-family: var(--font-family-text); 
  font-weight: 300;
}

.portfolio-role, .portfolio-role-b {
    font-family: var(--font-family-text); 
    font-weight: 300;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: var(--black);
}

.portfolio-links-wrapper {
    display: flex;
    width: 70%;
    gap: 20px;
}

.portfolio-link {
    display: inline-block;
    font-weight: 600;
    text-decoration: underline;
}

.portfolio-link:hover {
    color: red;
}

.portfolio-img-text-wrapper, .portfolio-img-text-wrapper-c {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.portfolio-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.portfolio-tech-stack-title {
    margin-top: 20px;
}

.portfolio-mobile-img {
    width: 326px;
}

@media only screen and (min-width: 500px) {
    .portfolio-wrapper {
        gap: 30px;
        width: 70%;
        padding: 80px 100px;
        margin: 80px auto;
    }

    .portfolio-wrapper-b {
        width: 70%;
        gap: 30px;
        padding: 80px 100px 80px 100px;
    }

    .portfolio-subtitle-wrapper {
        padding: 20px 0;
        padding: 0;
    }
    
    .portfolio-subtitle {
        font-size: 2.3rem;
        padding: 0 0 10px 0;
    }

    .portfolio-img-desktop {
        display: block;
    }

    .portfolio-img-text-wrapper-c {
        flex-direction: row;
        gap: 30px;
    } 
}