.project-img-desktop,  .project-mobile-img-mobile {
    box-shadow: 5px 5px 5px 2px #d2cdcd80;
}

.project-subtitle {
    font-size: 1.5rem;
}

.project-wrapper, .project-wrapper-b {
    font-family: var(--font-family-text);
    background-color: var(--dark-off-white);
    font-weight: 300;
    line-height: 2em;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 20px;
    margin: 40px 0;
}

.project-role, .project-tech-stack,
.project-text {
  font-family: var(--font-family-text); 
  font-weight: 300;
}

.project-role, .project-role-b {
    font-family: var(--font-family-text); 
    font-weight: 300;
    border-style: solid;
    border-width: 1px 0 1px 0;
    border-color: var(--black);
}

.project-links-wrapper {
    display: flex;
    width: 70%;
    gap: 20px;
}

.project-link {
    display: inline-block;
    font-weight: 600;
    text-decoration: underline;
}

.project-link:hover {
    color: red;
}

.project-img-text-wrapper, .project-img-text-wrapper-c {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.project-text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-tech-stack-title {
    margin-top: 20px;
}

.project-mobile-img {
    width: 326px;
}

@media only screen and (min-width: 500px) {
    .project-wrapper {
        gap: 30px;
        width: 70%;
        padding: 80px 100px;
        margin: 80px auto;
    }

    .project-wrapper-b {
        width: 85%;
        gap: 30px;
        padding: 80px 100px 80px 280px;
    }

    .project-subtitle-wrapper {
        padding: 20px 0;
        padding: 0;
    }
    
    .project-subtitle {
        font-size: 2.3rem;
        padding: 0 0 10px 0;
    }

    .project-img-desktop {
        display: block;
    }

    .project-img-text-wrapper-c {
        flex-direction: row;
        gap: 30px;
    } 
}