.page-summary-text {
    font-family: var(--font-family-text);
    font-weight: 300;
    line-height: 2em;
}

a {
    text-decoration: none;
}

.highlight-bg-btn {
    background-color: var(--highlight-color);
    border: none;
    width: 100%;
    padding: 20px 0;
}

.download-resume-ahref {
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    background-color: var(--highlight-color);
    padding: 15px 20px;
    color: black;
    text-align: center;
}

.download-resume-ahref:hover {
    color: white;
    background-color: var(--dark-pink);
    font-weight: bold;
}


@media only screen and (min-width: 500px) {
    .resume-wrapper {
        padding: 120px 0;
    }

    .page-summary-text {
        width: 90%;
    }

    .highlight-bg-btn {
        width: 200px;
    }

    .download-resume-ahref {
        width: 20%;
    }
}

.resume-skills-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 40px 0;
}

@media only screen and (min-width: 500px) {
        .resume-skills-wrapper {
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;
        font-size: 1.375rem;
        padding: 40px 0 40px 240px;
    } 
}

.about-me-skills, .about-me-skills-black {
    display: block;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

.about-me-skills {
    font-family: var(--font-family-text);
}

.about-me-skills-black {
    font-family: "Poppins";
    color: black;
}

.soft-skills-wrapper, .tech-stack-wrapper {
    width: 90%;
    background-color: var(--white);
    text-align: center;
    padding:50px 20px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
}

.tech-stack-wrapper {
    gap: 30px;
}

.tech-stack-heading {
    font-weight: bold;
    font-family: var(--font-family-text);
}

.tech-stack-text {
    font-family: var(--font-family-text);
    font-size: .9em;
}

.experience-subsection-wrapper {
    width: 90%;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 20px;
}

.position-summary-text {
    font-family: var(--font-family-text);
    font-weight: 300;
    line-height: 2em;
}

.hobbies-text {
    width: 90%;
    background-color: var(--white);
    margin: 0 auto;
    padding: 20px;
}

.experience-position {
    font-weight: bold;
    font-family: "Poppins";
    font-size: 1.12rem;
    padding-bottom: 20px;
}

.achievements-title {
    font-family: "Poppins";
    font-weight: bold;
    padding-top: 20px;
}

@media only screen and (min-width: 500px) {
    .about-me-skills, .about-me-skills-black {
        display: unset;
        margin-right: 10px;
        padding: 0 5px;
    }

    .about-me-skills {
         /* background-color: #e3dfd; */
    }

    .about-me-skills-black {
        background-color: var(--black);
        color: white;
    }

    .about-me-skills-white-text {
        color: var(--white);
    }

    .soft-skills-wrapper {
        width: 70%;
        gap: 20px;
        font-size: 1.2em;
        text-align: left;
        padding-left: 80px;
        margin: 0 auto;
    }

    .tech-stack-wrapper {
        font-size: 1.2em;
        text-align: left;
        margin-left: 220px;
        width: 70%;
        padding-left: 80px;
    }

    .experience-subsection-wrapper {
        width: 70%;
        padding: 30px 0 30px 80px;
    }

    .position-summary-text {
        width: 90%;
    }

    .experience-position {
        font-size: 1.37rem;
    }

    .hobbies-text {
        width: 70%;
        padding: 40px 0 40px 80px;
    }
    
}